.btn {
    &:not(.btn-danger):not([class*="btn-outline"]):not(.btn-light) {
        background-color: $accent_color !important;
        border-color: $accent_color !important;
        color: $text_color;
        border-radius: 4px;
        transition: 0.2s;

        &:hover {
            background-color: $accent_color_dark !important;
            border-color: $accent_color_dark !important;
        }
    }

    &.btn-danger {
        background-color: $error_color !important;
        border-color: $error_color !important;
        color: $text_color;
        border-radius: 4px;
        transition: 0.2s;

        &:hover {
            background-color: $error_color_shade !important;
            border-color: $error_color_shade !important;
        }
    }

    &.btn-outline-light {
        border-color: $outline_button_color !important;
    }

    &.btn-light {

    }
}


a.link-btn {
    display: inline-block;
    padding: 10px 18px;
    background-color: $accent_color !important;
    border-color: $accent_color !important;
    color: $text_color;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.2s;

    &:hover {
        background-color: $accent_color_dark !important;
        border-color: $accent_color_dark !important;
        color: $text_color;
    }
}
