/* Fonts */
$title_font_family: 'Montserrat', sans-serif !important;
$text_font_family: 'Satoshi', sans-serif !important;
$default_font_size: 16px;


/* Colors */
$background_color_dark: #ffffff;
$background_color: #f1f1f1;
$background_color_light: #e1e1e1;

$accent_color_dark: #157347;
$accent_color: #198754;
$accent_color_light: #7ad9a7;

$title_color: #000000;
$subtitle_color: #1f1f1f;
$text_color: #181818;
$subtext_color: #1f1f1f;

$link_color: #7ad9a7;
$link_hover_color: #198754;

$success-color: #3ad46f;
$success-color-shade: #1e6f3a;
$error-color: #e04040;
$error-color-shade: #9a2323;
$warning-color: #ffb867;
$warning-color-shade: #c06a15;
$info-color: #4aa3ff;
$info-color-shade: #1d3a57;


/* Buttons */
$outline_button_color: #4a4a4a;


/* Forms */
$form_input_border_color: #444444;
$form_input_background_color: #222222;
$form_input_color: #ffffff;


/* Navbar */
$navbar_backgorund_color: #0f0f0f;
$navbar_border_color: black;
$navbar_height: 80px;
$nav_title_color: white;
$nav_active_color: white;
$nav_hover_color: #f1f1f1;
$nav_unactive_color: gray;


/* Footer */
$footer_backgorund_color: #0f0f0f;
$footer_border_color: #222222;
$footer_font_size: 14px;

