*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: $background_color_light;

    .feedback {
        padding: 12px 15px;
        border-radius: 4px;
        margin-bottom: 20px;
        color: $text_color;
        font-size: 14px;
        border-left: none;
    
        &.failed {
            background: $error_color_shade;
            border-left: 4px solid $error_color;
        }
        
        &.success {
            background: $success_color_shade;
            border-left: 4px solid $success_color
        }

        &.warning {
            background: $warning_color_shade;
            border-left: 4px solid $warning_color;
        }
        
        &.info {
            background: $info_color_shade;
            border-left: 4px solid $info_color;
        }
    }
}
